header {
  width: 100%;
  background-color: rgb(37, 38, 42);
  margin: auto;
  min-width: 280px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
}

.wrap {
  display: flex;
}

header li {
  padding: 15px;
  font-family: monospace;
  color: white;
}

a:hover {
  color: rgb(244, 183, 63);
  transition: 0.3s;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}

.logo {
  font-size: 2rem;
  color: white;
  padding-left: 15px;
  font-weight: 500;
}

span {
  color: rgb(244, 183, 63);
  font-weight: 300;
}

img {
  width: 2rem;
  color: white;
}

svg:hover {
  fill: rgb(244, 183, 63);
  transition: 0.3;
}

/* media queries */
@media (max-width: 768px) {
  .mainLinks {
    display: none;
  }
}

@media (max-width: 500px) {
  .logo {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container {
    margin: auto;
  }
}
